<ion-view>
<!-- <div class="bar bar-header bar-light">
  <h1 class="title">Login Sinau</h1>
</div> -->
  <ion-content class="padding" align='center'>
      <div class="list list-inset" id="Absolute-Center">
          <img ng-src="{{face}}" class="imglogo">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <button class="button button-block button-outline button-positive" ng-click="login()">Login</button>
          <span id="loginFontforget">forget your login details? <strong><a ng-click="forget()">Get help login</a></strong></span>
      </div>
  </ion-content>
  <div align="center" class="bar bar-footer bar-light">
    <span class="title" id="loginFontfooter">Don't have an account? <strong><a ng-click="regist()">Signup</a></strong></span>
  </div>
</ion-view>